.qr_page {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  width: 100%;
  max-width: 400px; 
  box-sizing: border-box;
  padding: 20px;
  padding-top: 0px;

  .qr_view {
    width: 100%;

    .qrcode {
      box-sizing: border-box;
      width: 100% !important;
      height: auto !important;
    }
  }
}
